@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
    font-family: 'Poppins', sans-serif;
}
.curved-polygon {
    width: 300px;
    height: 200px;
    background-color: lightblue;
    clip-path: path(
        'M 0 0
                    L 76% 0
                    Q 76% 0 76% 14%
                    L 100% 14%
                    Q 100% 14% 100% 100%
                    L 25% 100%
                    Q 25% 100% 25% 84%
                    L 0 84%
                    Q 0 84% 0 0'
    );
}
.bg-hexagon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1026%26quot%3b)' fill='none'%3e%3cpath d='M75.08 256.11L126.17 285.61L126.17 344.61L75.08 374.11L23.98 344.61L23.98 285.61zM75.08 433.11L126.17 462.61L126.17 521.61L75.08 551.11L23.98 521.61L23.98 462.61zM23.98 521.61L75.08 551.11L75.08 610.11L23.98 639.61L-27.12 610.11L-27.12 551.11zM177.27 256.11L228.37 285.61L228.37 344.61L177.27 374.11L126.17 344.61L126.17 285.61zM177.27 433.11L228.37 462.61L228.37 521.61L177.27 551.11L126.17 521.61L126.17 462.61zM228.37 -9.39L279.46 20.11L279.46 79.11L228.37 108.61L177.27 79.11L177.27 20.11zM228.37 521.61L279.46 551.11L279.46 610.11L228.37 639.61L177.27 610.11L177.27 551.11zM330.56 -9.39L381.66 20.11L381.66 79.11L330.56 108.61L279.46 79.11L279.46 20.11zM381.66 433.11L432.76 462.61L432.76 521.61L381.66 551.11L330.56 521.61L330.56 462.61zM432.76 -9.39L483.85 20.11L483.85 79.11L432.76 108.61L381.66 79.11L381.66 20.11zM483.85 79.11L534.95 108.61L534.95 167.61L483.85 197.11L432.76 167.61L432.76 108.61zM483.85 256.11L534.95 285.61L534.95 344.61L483.85 374.11L432.76 344.61L432.76 285.61zM432.76 521.61L483.85 551.11L483.85 610.11L432.76 639.61L381.66 610.11L381.66 551.11zM534.95 167.61L586.05 197.11L586.05 256.11L534.95 285.61L483.85 256.11L483.85 197.11zM586.05 433.11L637.14 462.61L637.14 521.61L586.05 551.11L534.95 521.61L534.95 462.61zM637.14 -9.39L688.24 20.11L688.24 79.11L637.14 108.61L586.05 79.11L586.05 20.11zM637.14 167.61L688.24 197.11L688.24 256.11L637.14 285.61L586.05 256.11L586.05 197.11zM739.34 167.61L790.43 197.11L790.43 256.11L739.34 285.61L688.24 256.11L688.24 197.11zM790.43 433.11L841.53 462.61L841.53 521.61L790.43 551.11L739.34 521.61L739.34 462.61zM943.73 -9.39L994.82 20.11L994.82 79.11L943.73 108.61L892.63 79.11L892.63 20.11zM943.73 167.61L994.82 197.11L994.82 256.11L943.73 285.61L892.63 256.11L892.63 197.11zM943.73 344.61L994.82 374.11L994.82 433.11L943.73 462.61L892.63 433.11L892.63 374.11zM994.82 433.11L1045.92 462.61L1045.92 521.61L994.82 551.11L943.73 521.61L943.73 462.61zM1097.02 256.11L1148.11 285.61L1148.11 344.61L1097.02 374.11L1045.92 344.61L1045.92 285.61zM1045.92 521.61L1097.02 551.11L1097.02 610.11L1045.92 639.61L994.82 610.11L994.82 551.11zM1148.11 344.61L1199.21 374.11L1199.21 433.11L1148.11 462.61L1097.02 433.11L1097.02 374.11zM1199.21 433.11L1250.31 462.61L1250.31 521.61L1199.21 551.11L1148.11 521.61L1148.11 462.61zM1301.4 256.11L1352.5 285.61L1352.5 344.61L1301.4 374.11L1250.31 344.61L1250.31 285.61zM1454.69 -9.39L1505.79 20.11L1505.79 79.11L1454.69 108.61L1403.6 79.11L1403.6 20.11zM1454.69 167.61L1505.79 197.11L1505.79 256.11L1454.69 285.61L1403.6 256.11L1403.6 197.11zM1454.69 521.61L1505.79 551.11L1505.79 610.11L1454.69 639.61L1403.6 610.11L1403.6 551.11z' stroke='rgba(107%2c 107%2c 107%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1026'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.vs__dropdown-toggle {
    background-color: #f3f4f6 !important;
    border: none !important;
    height: 36px !important;
    border-radius: 8px !important;
}
.vs__search {
    font-size: 14px !important;
    color: gray !important;
}
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}
.v-navigation-drawer__content::-webkit-scrollbar {
    display: none !important;
}

:root {
    --toggle-size: 10px;
    --switch-w: 4em;
    --switch-h: 2em;
    --switch-handle-scale: 0.65;
    --switch-off-handle-x: -0.125em;
    --switch-on-handle-x: calc(100% - 0.125em);
    --switch-transition-duration: 0.2s;
}

#theme-toggle {
    display: none;

    & + label {
        font-size: var(--toggle-size);
        display: flex;
        height: var(--switch-h);
        width: var(--switch-w);
        border-radius: calc(var(--switch-h) / 2);
        background-size: auto 8em;
        background-position: bottom;
        background-image: linear-gradient(
            180deg,
            #021037 0%,
            #20206a 19%,
            #4184b1 66%,
            #62e7f7 100%
        );
        transition: var(--switch-transition-duration);
        border: 0.125em solid hsl(207, 30%, 95%);
        overflow: hidden;

        span {
            background: #fffad8;
            border-radius: 50%;
            height: var(--switch-h);
            width: var(--switch-h);
            transform: translateX(var(--switch-off-handle-x))
                scale(var(--switch-handle-scale));
            transition: var(--switch-transition-duration);
            cursor: pointer;
            box-shadow: 0 0 0.25em 0.0625em #fbee8d, 0 0 2em 0 #ffeb3b,
                inset -0.25em -0.25em 0 0 #fbee8e,
                inset -0.3125em -0.3125em 0 0.625em #fff5b2;
            margin-top: var(--switch-off-handle-x);
        }
    }

    &:checked {
        font-size: var(--switch-font-size);

        & + label {
            background-position: top;
            border-color: hsl(207, 30%, 50%);

            span {
                background: transparent;
                transform: translateX(var(--switch-on-handle-x))
                    scale(var(--switch-handle-scale));
                box-shadow: inset -0.1875em -0.1875em 0 0 #fbe7ef,
                    inset -0.5625em -0.5625em 0 0 #fffff7;
            }
        }
    }
}

#page {
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

.dark .v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > td,
.dark .v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > th {
    border-bottom: thin solid rgb(255, 255, 255, 0.2) !important;
}
.bg-moon {
    background: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1366' height='768' preserveAspectRatio='none' viewBox='0 0 1366 768'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1327%26quot%3b)' fill='none'%3e%3crect width='1366' height='768' x='0' y='0' fill='transparent'%3e%3c/rect%3e%3ccircle r='21.71' cx='640.87' cy='446.75' fill='url(%26quot%3b%23SvgjsLinearGradient1328%26quot%3b)'%3e%3c/circle%3e%3ccircle r='30.57' cx='391.21' cy='685.61' fill='rgba(42%2c 50%2c 64%2c 1)'%3e%3c/circle%3e%3ccircle r='53.31' cx='1339.74' cy='747.58' fill='rgba(42%2c 50%2c 64%2c 1)'%3e%3c/circle%3e%3ccircle r='39.035' cx='139.02' cy='509.48' fill='rgba(42%2c 50%2c 64%2c 1)'%3e%3c/circle%3e%3ccircle r='68.46' cx='561.2' cy='670.83' fill='url(%26quot%3b%23SvgjsLinearGradient1329%26quot%3b)'%3e%3c/circle%3e%3ccircle r='75.745' cx='1048.14' cy='79.38' fill='url(%26quot%3b%23SvgjsLinearGradient1330%26quot%3b)'%3e%3c/circle%3e%3ccircle r='75.765' cx='1176.79' cy='257.7' fill='url(%26quot%3b%23SvgjsLinearGradient1331%26quot%3b)'%3e%3c/circle%3e%3ccircle r='61.285' cx='931.74' cy='270.08' fill='url(%26quot%3b%23SvgjsLinearGradient1332%26quot%3b)'%3e%3c/circle%3e%3ccircle r='71.88' cx='826.77' cy='418.44' fill='url(%26quot%3b%23SvgjsLinearGradient1333%26quot%3b)'%3e%3c/circle%3e%3ccircle r='27.375' cx='777.15' cy='244.94' fill='url(%26quot%3b%23SvgjsLinearGradient1334%26quot%3b)'%3e%3c/circle%3e%3ccircle r='71.315' cx='941.24' cy='650.66' fill='rgba(42%2c 50%2c 64%2c 1)'%3e%3c/circle%3e%3ccircle r='27.96' cx='716.63' cy='350.91' fill='url(%26quot%3b%23SvgjsLinearGradient1335%26quot%3b)'%3e%3c/circle%3e%3ccircle r='28.625' cx='1130.33' cy='255.54' fill='url(%26quot%3b%23SvgjsLinearGradient1336%26quot%3b)'%3e%3c/circle%3e%3ccircle r='38.395' cx='132.5' cy='603.73' fill='url(%26quot%3b%23SvgjsLinearGradient1337%26quot%3b)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1327'%3e%3crect width='1366' height='768' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='597.45' y1='446.75' x2='684.2900000000001' y2='446.75' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1328'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 116%2c 132%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='424.2800000000001' y1='670.83' x2='698.1200000000001' y2='670.83' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1329'%3e%3cstop stop-color='rgba(226%2c 152%2c 222%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(71%2c 83%2c 102%2c 1)' offset='0.47'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='896.6500000000001' y1='79.38' x2='1199.63' y2='79.38' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1330'%3e%3cstop stop-color='rgba(226%2c 152%2c 222%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(71%2c 83%2c 102%2c 1)' offset='0.47'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1025.26' y1='257.7' x2='1328.32' y2='257.7' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1331'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 116%2c 132%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='809.1700000000001' y1='270.08' x2='1054.31' y2='270.08' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1332'%3e%3cstop stop-color='rgba(226%2c 152%2c 222%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(71%2c 83%2c 102%2c 1)' offset='0.47'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='683.01' y1='418.44' x2='970.53' y2='418.44' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1333'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 116%2c 132%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='722.4' y1='244.94' x2='831.9' y2='244.94' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1334'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 116%2c 132%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='660.71' y1='350.91' x2='772.5500000000001' y2='350.91' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1335'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 116%2c 132%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1073.08' y1='255.54' x2='1187.58' y2='255.54' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1336'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 116%2c 132%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='55.709999999999994' y1='603.73' x2='209.29000000000002' y2='603.73' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1337'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 116%2c 132%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.dashItem {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='285' height='112' preserveAspectRatio='none' viewBox='0 0 224 88'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1040%26quot%3b)' fill='none'%3e%3crect width='224' height='88' x='0' y='0' %3e%3c/rect%3e%3ccircle r='14.665' cx='-12.88' cy='14.39' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='14.665' cx='57.35' cy='48.02' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='14.665' cx='108.16' cy='107.23' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='9.94' cx='201.97' cy='23.87' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='8.53' cx='15.68' cy='57.33' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='17.29' cx='24.92' cy='74.63' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='23.525' cx='212.47' cy='55.3' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='24.99' cx='147.92' cy='13.77' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='10.705' cx='100.5' cy='46.84' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='24.8' cx='62.32' cy='1.17' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1040'%3e%3crect width='224' height='88' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}
